.cover {
  /* border: 5px solid red; */
  /* padding: 24px; */
  /* The image used */
  /* background-image: url("./cover1.jpg"); */

  /* Add the blur effect */
  /* filter: blur(1px);
  -webkit-filter: blur(15px); */
  /* background-image: linear-gradient(to right, grey , white); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(1px) brightness(0.75);
    -webkit-filter: blur(8px) brightness(0.85);
    -moz-filter: blur(1px) brightness(0.85);
    -ms-filter: blur(1px) brightness(0.75);
    -o-filter: blur(1px) brightness(0.75);
  /* Full height */
  height: 350px;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  
}

.img{
    position: absolute;
    border: 1px solid black;
    top: 200px;
    left: 180px;
    height:500px;
    width: 350px;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.3);
}
.title{
    position: absolute;
    /* border: 1px solid black; */
    top: 200px;
    left: 650px;
    color:white;
}
.about{
    position: absolute;
    /* border: 1px solid black; */
    top: 450px;
    left: 650px;
    color:black;
}


.btn {
  --btn-color: rgb(71, 34, 21);
  --btn-bg: rgb(252 211 77);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  padding: 14px 22px;
  /* border-radius: 8px; */
  border: 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  font-family: system-ui;
  /* border: 2px solid var(--btn-color); */
  transition: 100ms ease;
  /* box-shadow: 5px 5px 0 0 var(--btn-color); */
  box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.3);
  border-radius: 80px;
  width:150px;
}

.btnSecondary {
  --btn-color: #444;
  --btn-bg: #fafafa;
}

.btn svg {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.btn:hover {
  /* box-shadow: 2px 2px 0 0 ; */
  box-shadow: 3px 3px 5px 2px rgba(0,0,0,0.5);

}

.btn:active {
  transition: 50ms ease;
  box-shadow:  0 0 0 0 var(--btn-color);
}

.btn:focus-visible {
  outline: 0;
  --btn-color: #002cc8;
}

.btn:focus-visible::after {
  position: absolute;
  left: 50%;
  top: calc(100% + 12px);
  transform: translateX(-50%);
  content: "\21E7";
  animation: float .5s ease-in-out infinite;
}
.btnGroup{
  display: flex;
  flex-wrap: wrap;
}
@keyframes float {
	0% {
		transform: translateX(-50%) translatey(0px);
	}
	50% {
		transform: translateX(-50%) translatey(-6px);
	}
	100% {
		transform: translateX(-50%) translatey(0px);
	}
}

/* @media (max-width: 768px) {
  .navContainer {
    color: red;
  }
} */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .cover{
    width:100% ;
  }
  .img{
    left:25%;
    top:20%;
    height:40%;
    width:50%;
  }
  .title{
    top:63%;
    left:28%;
    color:black;
    font-size:50px !important;
    font-weight:0;
    /* color: black ; */
  }
  .about{
    top:85%;
    left:15%;
    gap:10px;
    margin-left:10px;
  }
  .btnGroup{
    gap:15px !important;
  }
  .btn{
    width:333px ;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px )and (max-device-width: 767px) {
  .cover{
    width:100% ;
  }
  .img{
    left:25%;
    top:30%;
    height:40%;
    width:50%;
  }
  .title{
    top:73%;
    left:68%;
    color:black;
    font-size:50px !important;
    font-weight:0;
    /* color: black ; */
  }
  .about{
    top:75%;
    left:5%;
    gap:10px;
    margin-left:10px;
  }
  .btn{
    margin-left:10px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-device-width: 992px){
  .cover{
    width:100%;
  }
  .img{
    left:5%;
    height:50%;
    width:30%;
  }
  .title{
    left:39%;
    top:25%;
    
  }
  .about{
    left:39%;
    gap:10px;
    top:50%;
  }
  .btnGroup{
    gap:5px ;
  }
  .btn{
    width:100px ;
    height:60px ;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cover{
    width:100%;
  }
  .img{
    left:5%;
  }
  .title{
    left:45%;
    top:25%;
  }
  .about{
    left:45%;
    gap:10px;
  }
  .btnGroup{
    gap:10px ;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .img{
    position: absolute;
    border: 1px solid black;
    top: 200px;
    left: 180px;
    height:500px;
    width: 350px;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.3);
}
.title{
    position: absolute;
    /* border: 1px solid black; */
    top: 200px;
    left: 650px;
    color:white;
}
.about{
    position: absolute;
    /* border: 1px solid black; */
    top: 450px;
    left: 650px;
    color:black;
}
}
/* 
html, body {
  height: 100%;
}

body {
  display: grid;
  place-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
} */
